.componente{
    border: 1px solid purple;
    color: purple;
    background-color: rgb(219, 150, 219);
    margin: 1rem;
    padding: 0 10px;
}
button{
    padding: 1rem;
    background: none;
    border: none;
    font-size: large;
    color: purple;
    width: 100%;
}
.itemExpand{

    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
}
.items{
    text-align: left;
}
.itemExpand2{
    border: 1px solid purple;
    padding: 1rem;
}
.alerta{
    background-color: rgb(235, 235, 147);
    border: 2px solid yellow;
    width: fit-content;
    color: black;
    padding: 1rem;
    margin: 1rem auto;
    text-align: center;
}