<app-header></app-header>

<!-- <p>home works!</p> -->

<div>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" class="toggle1">
        <mat-button-toggle value="1">Toggle1</mat-button-toggle>
        <mat-button-toggle value="2">B</mat-button-toggle>
        <mat-button-toggle value="3">C</mat-button-toggle>
        <mat-button-toggle value="4">D</mat-button-toggle>
    </mat-button-toggle-group>
</div>
<!-- <app-form1 *ngIf="selectedToggle === '1'"></app-form1> -->
@if (toggleGroup.value==="1"){
    <app-form1></app-form1>
}


<app-footer></app-footer>